@import "normalize.css";
@import "base/_variables.css";
@import "base/_global";
@import "base/_mixins";
@import "modules/_large-hero";
@import "modules/_btn.css";
@import "modules/_wrapper.css";
@import "modules/_page-section.css";
@import "modules/_headline.css";
@import "modules/_row.css";
@import "modules/_generic-content-container.css";



body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
}
img {
    max-width: 100%;
    height: auto;
}
